@using AccountManagement.Application.Contracts.Account;
@model EditAccount
@{
}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">ویرایش کاربر: @Model.Fullname</h4>
        <button type="button" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal" aria-hidden="true">×</button>
    </div>

    <form asp-page="./Index" asp-page-handler="Edit"
          method="post"
          data-ajax="true"
          data-callback=""
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Fullname" class="control-label">نام کامل</label>
                        <input type="text" class="form-control" asp-for="Fullname" required />
                        <span asp-validation-for="Fullname" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="Username" class="control-label">نام کاربری</label>
                        <input type="text" class="form-control" asp-for="Username" required />
                        <span asp-validation-for="Username" class="error"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Mobile" class="control-label">موبایل</label>
                            <input type="text" class="form-control" asp-for="Mobile" required />
                            <span asp-validation-for="Mobile" class="error"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="control-label">رمز عبور</label>
                            <input type="text" class="form-control" asp-for="Password" required />
                            <span asp-validation-for="Password" class="error"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="RoleId" class="control-label">نقش</label>
                        <select class="form-control" asp-for="RoleId" required
                                asp-items='new SelectList(Model.Roles, "Id", "Name")'>
                            <option value="0">نقشی را برای کاربر انتخاب کنید ...</option>
                        </select>
                        <span asp-validation-for="RoleId" class="error"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group mb-3">
                        <label asp-for="ProfilePhoto" class="control-label">عکس</label>
                        <input type="file" class="form-control" asp-for="ProfilePhoto" accept="image/*" />

                    </div>
                </div>
                <input type="hidden" asp-for="Id" value="@Model.Id" />
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal">بستن</button>
            <button type="submit" class="btn btn-info">ویرایش</button>
        </div>
    </form>

</div>