<!DOCTYPE html>
<html lang="fa-IR" data-bs-theme="light" data-pwa="true">
<head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] | اوجوز مارکت</title>
    }
    else
    {
        <title>اوجوز مارکت</title>
    }
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="Amirreza Vajdi">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <link rel="icon" type="image/png" href="~/Theme/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/Theme/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="~/Theme/assets/js/theme-switcher.js"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="~/Theme/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="~/Theme/assets/icons/cartzilla-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="~/Theme/assets/icons/cartzilla-icons.min.css">

    <!-- Vendor styles -->
    @await RenderSectionAsync("Css", false)
    <link rel="stylesheet" href="~/Theme/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Theme/assets/vendor/simplebar/simplebar.min.css">
    <link rel="stylesheet" href="~/Theme/assets/vendor/choices.js/choices.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="~/Theme/assets/css/theme.min.css" as="style">
    <link rel="preload" href="~/Theme/assets/css/theme.rtl.min.css" as="style">
    <link rel="stylesheet" href="~/Theme/assets/css/theme.min.css" id="theme-styles">

    <!-- Customizer -->
    <script src="~/Theme/assets/js/customizer.min.js"></script>
</head>


<!-- Body -->
<body>
    <!-- Shopping cart offcanvas -->
    <div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="shoppingCart" tabindex="-1" aria-labelledby="shoppingCartLabel" style="width: 500px">

        <!-- Header -->
        <div class="offcanvas-header flex-column align-items-start py-3 pt-lg-4">
            <div class="d-flex align-items-center justify-content-between w-100 mb-3 mb-lg-4">
                <h4 class="offcanvas-title" id="shoppingCartLabel">سبد خرید</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
        </div>

        <!-- Items -->
        <div id="cart_items_wrapper" class="offcanvas-body d-flex flex-column gap-4 pt-2">
        </div>

        <!-- Footer -->
        <div class="offcanvas-header flex-column align-items-start">
            <div class="d-flex w-100 gap-3">
                <a class="btn btn-lg btn-secondary w-100 rounded-pill" asp-page="Cart">مشاهده سبد خرید</a>
                <a class="btn btn-lg btn-primary w-100 rounded-pill" asp-page="Checkout">پرداخت</a>
            </div>
        </div>
    </div>


    <!-- Delivey options offcanvas -->
    @await Component.InvokeAsync("Delivery")

    <!-- Site menu offcanvas -->
    <!-- Navigation bar (Page header) -->
    @await Component.InvokeAsync("Menu")


    <!-- Categories -->
    @await Component.InvokeAsync("ProductCategory")


    <!-- Page content -->
    <main class="content-wrapper">

        @RenderBody()

    </main>


    <!-- Page footer -->
    @await Component.InvokeAsync("Footer")

    @await RenderSectionAsync("Filter", false)

    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
        <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
            Top
            <i class="ci-arrow-right fs-base ms-1 me-n1 animate-target"></i>
            <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
            <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></rect>
            </svg>
        </a>
    </div>


    <!-- Vendor scripts -->
    <script src="~/Theme/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Theme/assets/vendor/simplebar/simplebar.min.js"></script>
    <script src="~/Theme/assets/vendor/choices.js/choices.min.js"></script>

    <!-- Bootstrap + Theme scripts -->
    @await RenderSectionAsync("Scripts", false)

    <!--this script loaded by javascript
     <script src="~/Theme/assets/js/theme.min.js"></script> 
     --> 

    <script src="~/Theme/assets/js/custom.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            UpdateCart();
        });
    </script>

</body>
</html>