<!DOCTYPE html>
<html lang="fa-IR" data-bs-theme="light" data-pwa="true">
<head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] | اوجوز مارکت</title>
    }
    else
    {
        <title>اوجوز مارکت</title>
    }
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="Amirreza Vajdi">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <link rel="icon" type="image/png" href="~/Theme/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/Theme/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="~/Theme/assets/js/theme-switcher.js"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="~/Theme/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="~/Theme/assets/icons/cartzilla-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="~/Theme/assets/icons/cartzilla-icons.min.css">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/Theme/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Theme/assets/vendor/simplebar/simplebar.min.css">
    <link rel="stylesheet" href="~/Theme/assets/vendor/choices.js/choices.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="~/Theme/assets/css/theme.min.css" as="style">
    <link rel="preload" href="~/Theme/assets/css/theme.rtl.min.css" as="style">
    <link rel="stylesheet" href="~/Theme/assets/css/theme.min.css" id="theme-styles">

    <!-- Customizer -->
    <script src="~/Theme/assets/js/customizer.min.js"></script>
</head>


<!-- Body -->
<body>
    <!-- Shopping cart offcanvas -->
    <div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="shoppingCart" tabindex="-1" aria-labelledby="shoppingCartLabel" style="width: 500px">

        <!-- Header -->
        <div class="offcanvas-header flex-column align-items-start py-3 pt-lg-4">
            <div class="d-flex align-items-center justify-content-between w-100 mb-3 mb-lg-4">
                <h4 class="offcanvas-title" id="shoppingCartLabel">Shopping cart</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="alert alert-success text-dark-emphasis fs-sm border-0 rounded-4 mb-0" role="alert">
                Congratulations 🎉 You have added more than <span class="fw-semibold">$50</span> to your cart. <span class="fw-semibold">Delivery is free</span> for you!
            </div>
        </div>

        <!-- Items -->
        <div class="offcanvas-body d-flex flex-column gap-4 pt-2">

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="position-relative flex-shrink-0" href="shop-product-grocery.html">
                    <span class="badge text-bg-danger position-absolute top-0 start-0 z-2 mt-0 ms-0">-$2.79</span>
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/01.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Fresh orange Klementina, Spain</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$3.12</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="3" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="flex-shrink-0" href="shop-product-grocery.html">
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/02.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Pesto sauce Barilla with basil, Italy</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$3.95</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="1" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="flex-shrink-0" href="shop-product-grocery.html">
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/03.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Steak salmon fillet with rosmary</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$27.00</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="2" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="flex-shrink-0" href="shop-product-grocery.html">
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/04.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Sprite soda lemon lime, can</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$0.80</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="2" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="offcanvas-header flex-column align-items-start">
            <div class="d-flex align-items-center justify-content-between w-100 mb-3 mb-md-4">
                <span class="text-light-emphasis">Subtotal:</span>
                <span class="h6 mb-0">$68.91</span>
            </div>
            <div class="d-flex w-100 gap-3">
                <a class="btn btn-lg btn-secondary w-100 rounded-pill" href="checkout-v2-cart.html">View cart</a>
                <a class="btn btn-lg btn-primary w-100 rounded-pill" href="checkout-v2-delivery.html">Checkout</a>
            </div>
        </div>
    </div>


    <!-- Delivey options offcanvas -->
    @await Component.InvokeAsync("Delivery")

    <!-- Site menu offcanvas -->
    <!-- Navigation bar (Page header) -->
    @await Component.InvokeAsync("Menu")


    <!-- Categories -->
    @await Component.InvokeAsync("ProductCategory")


    <!-- Page content -->
    <main class="content-wrapper">

        @RenderBody()

    </main>


    <!-- Page footer -->
    @await Component.InvokeAsync("Footer")

    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
        <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
            Top
            <i class="ci-arrow-right fs-base ms-1 me-n1 animate-target"></i>
            <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
            <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></rect>
            </svg>
        </a>
    </div>


    <!-- Vendor scripts -->
    <script src="~/Theme/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Theme/assets/vendor/simplebar/simplebar.min.js"></script>
    <script src="~/Theme/assets/vendor/choices.js/choices.min.js"></script>

    <!-- Bootstrap + Theme scripts -->
    <script src="~/Theme/assets/js/theme.min.js"></script>
    <script src="~/Theme/assets/js/custom.js"></script>

</body>
</html>