<!DOCTYPE html>
<html lang="fa-IR" data-bs-theme="light" data-pwa="true">
<head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    @if (ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] | اوجوز مارکت</title>
    }
    else
    {
        <title>اوجوز مارکت</title>
    }
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="Amirreza Vajdi">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link rel="manifest" href="/manifest.json"> -->
    <link rel="icon" type="image/png" href="~/Theme/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="~/Theme/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="~/Theme/assets/js/theme-switcher.js"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="~/Theme/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin="">

    <!-- Font icons -->
    <link rel="preload" href="~/Theme/assets/icons/cartzilla-icons.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="~/Theme/assets/icons/cartzilla-icons.min.css">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/Theme/assets/vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/Theme/assets/vendor/simplebar/simplebar.min.css">
    <link rel="stylesheet" href="~/Theme/assets/vendor/choices.js/choices.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="~/Theme/assets/css/theme.min.css" as="style">
    <link rel="preload" href="~/Theme/assets/css/theme.rtl.min.css" as="style">
    <link rel="stylesheet" href="~/Theme/assets/css/theme.min.css" id="theme-styles">

    <!-- Customizer -->
    <script src="~/Theme/assets/js/customizer.min.js"></script>
</head>


<!-- Body -->
<body>
    <!-- Shopping cart offcanvas -->
    <div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="shoppingCart" tabindex="-1" aria-labelledby="shoppingCartLabel" style="width: 500px">

        <!-- Header -->
        <div class="offcanvas-header flex-column align-items-start py-3 pt-lg-4">
            <div class="d-flex align-items-center justify-content-between w-100 mb-3 mb-lg-4">
                <h4 class="offcanvas-title" id="shoppingCartLabel">Shopping cart</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="alert alert-success text-dark-emphasis fs-sm border-0 rounded-4 mb-0" role="alert">
                Congratulations 🎉 You have added more than <span class="fw-semibold">$50</span> to your cart. <span class="fw-semibold">Delivery is free</span> for you!
            </div>
        </div>

        <!-- Items -->
        <div class="offcanvas-body d-flex flex-column gap-4 pt-2">

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="position-relative flex-shrink-0" href="shop-product-grocery.html">
                    <span class="badge text-bg-danger position-absolute top-0 start-0 z-2 mt-0 ms-0">-$2.79</span>
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/01.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Fresh orange Klementina, Spain</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$3.12</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="3" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="flex-shrink-0" href="shop-product-grocery.html">
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/02.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Pesto sauce Barilla with basil, Italy</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$3.95</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="1" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="flex-shrink-0" href="shop-product-grocery.html">
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/03.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Steak salmon fillet with rosmary</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$27.00</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="2" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>

            <!-- Item -->
            <div class="d-flex align-items-center">
                <a class="flex-shrink-0" href="shop-product-grocery.html">
                    <img src="~/Theme/assets/img/shop/grocery/thumbs/04.png" width="110" alt="Thumbnail">
                </a>
                <div class="w-100 ps-3">
                    <h5 class="fs-sm fw-medium lh-base mb-2">
                        <a class="hover-effect-underline" href="shop-product-grocery.html">Sprite soda lemon lime, can</a>
                    </h5>
                    <div class="h6 pb-1 mb-2">$0.80</div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="count-input rounded-pill">
                            <button type="button" class="btn btn-icon btn-sm" data-decrement="" aria-label="Decrement quantity">
                                <i class="ci-minus"></i>
                            </button>
                            <input type="number" class="form-control form-control-sm" value="2" readonly="">
                            <button type="button" class="btn btn-icon btn-sm" data-increment="" aria-label="Increment quantity">
                                <i class="ci-plus"></i>
                            </button>
                        </div>
                        <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove from cart"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="offcanvas-header flex-column align-items-start">
            <div class="d-flex align-items-center justify-content-between w-100 mb-3 mb-md-4">
                <span class="text-light-emphasis">Subtotal:</span>
                <span class="h6 mb-0">$68.91</span>
            </div>
            <div class="d-flex w-100 gap-3">
                <a class="btn btn-lg btn-secondary w-100 rounded-pill" href="checkout-v2-cart.html">View cart</a>
                <a class="btn btn-lg btn-primary w-100 rounded-pill" href="checkout-v2-delivery.html">Checkout</a>
            </div>
        </div>
    </div>


    <!-- Delivey options offcanvas -->
    <div class="offcanvas offcanvas-end pb-sm-2 px-sm-2" id="deliveryOptions" tabindex="-1" aria-labelledby="deliveryOptionsLabel" style="width: 500px">

        <!-- Header with nav tabs -->
        <div class="offcanvas-header flex-column align-items-start py-3 pt-lg-4">
            <div class="d-flex align-items-center justify-content-between w-100 pb-xl-1 mb-4">
                <h4 class="offcanvas-title" id="deliveryOptionsLabel">Delivery options</h4>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <ul class="nav nav-pills nav-justified w-100" role="tablist">
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link active" id="delivery-tab" data-bs-toggle="tab" data-bs-target="#delivery-tab-pane" role="tab" aria-controls="delivery-tab-pane" aria-selected="true">
                        <i class="ci-shopping-bag fs-base ms-n1 me-2"></i>
                        Delivery
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button type="button" class="nav-link" id="pickup-tab" data-bs-toggle="tab" data-bs-target="#pickup-tab-pane" role="tab" aria-controls="pickup-tab-pane" aria-selected="false">
                        <i class="ci-box fs-base ms-n1 me-2"></i>
                        Pickup
                    </button>
                </li>
            </ul>
        </div>

        <div class="offcanvas-body tab-content py-2 py-sm-3">

            <!-- Delivery tab -->
            <div class="tab-pane fade show active" id="delivery-tab-pane" role="tabpanel" aria-labelledby="delivery-tab">

                <!-- Address options collapse -->
                <div class="collapse delivery-address show" id="deliveryAddressOptions">
                    <div class="mt-n3">
                        <div class="form-check border-bottom py-4 m-0">
                            <input type="radio" class="form-check-input" id="address-1" name="delivery-address" checked="">
                            <label for="address-1" class="form-check-label text-dark-emphasis fw-semibold">567 Cherry Lane Apt B12 Sacramento, 95829</label>
                        </div>
                        <div class="form-check border-bottom py-4 m-0">
                            <input type="radio" class="form-check-input" id="address-2" name="delivery-address">
                            <div class="d-flex w-100">
                                <label for="address-2" class="form-check-label text-dark-emphasis me-3">1901 Thornridge Cir. Shiloh, Hawaii, 81063</label>
                                <button type="button" class="btn-close fs-sm ms-auto" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove"></button>
                            </div>
                        </div>
                        <div class="form-check border-bottom py-4 m-0">
                            <input type="radio" class="form-check-input" id="address-3" name="delivery-address">
                            <div class="d-flex w-100">
                                <label for="address-3" class="form-check-label text-dark-emphasis me-3">3517 W. Gray St. Utica, Pennsylvania, 57867</label>
                                <button type="button" class="btn-close fs-sm ms-auto" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove"></button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add new address collapse -->
                <div class="collapse delivery-address" id="deliveryAddressAdd">
                    <div class="nav mb-4">
                        <a class="nav-link animate-underline p-0" href=".delivery-address" data-bs-toggle="collapse" aria-expanded="true" aria-controls="deliveryAddressOptions deliveryAddressAdd">
                            <i class="ci-chevron-left fs-lg ms-n1 me-1"></i>
                            <span class="animate-target">Back to my addresses</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3 mb-lg-4">
                        <h5 class="h6 mb-0 me-3">Add an address to start ordering</h5>
                        <a class="btn btn-sm btn-outline-primary rounded-pill" href="#!">
                            <i class="ci-map-pin fs-base ms-n1 me-1"></i>
                            Find on map
                        </a>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="form-label">State *</label>
                        <select class="form-select form-select-lg rounded-pill" data-select="{
                &quot;classNames&quot;: {
                  &quot;containerInner&quot;: &quot;form-select form-select-lg rounded-pill&quot;
                }
              }" aria-label="Large pill select">
                            <option value="">Select state</option>
                            <option value="Arizona">Arizona</option>
                            <option value="California">California</option>
                            <option value="Montana">Montana</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="Texas">Texas</option>
                        </select>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label for="my-postcode" class="form-label">Postcode *</label>
                        <input type="text" class="form-control form-control-lg rounded-pill" id="my-postcode">
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="form-label">City *</label>
                        <select class="form-select form-select-lg rounded-pill" data-select="{
                &quot;classNames&quot;: {
                  &quot;containerInner&quot;: &quot;form-select form-select-lg rounded-pill&quot;
                }
              }" aria-label="Large pill select">
                            <option value="">Select city</option>
                            <option value="Austin">Austin</option>
                            <option value="Helena">Helena</option>
                            <option value="Sacramento">Sacramento</option>
                            <option value="Santa Fe">Santa Fe</option>
                            <option value="Las Vegas">Las Vegas</option>
                            <option value="Phoenix">Phoenix</option>
                        </select>
                    </div>
                    <label for="my-address" class="form-label">Street address *</label>
                    <input type="text" class="form-control form-control-lg rounded-pill" id="my-address">
                </div>

                <!-- Add address collapse toggle -->
                <div class="nav">
                    <a class="nav-link hiding-collapse-toggle animate-underline collapsed px-0 mt-4" href=".delivery-address" data-bs-toggle="collapse" aria-expanded="false" aria-controls="deliveryAddressOptions deliveryAddressAdd">
                        <span class="animate-target">Add delivery address</span>
                        <i class="ci-plus fs-base ms-1"></i>
                    </a>
                </div>
            </div>

            <!-- Pickup tab -->
            <div class="tab-pane fade" id="pickup-tab-pane" role="tabpanel" aria-labelledby="pickup-tab">

                <!-- Pickup store options collapse -->
                <div class="collapse pickup-options show" id="pickupStoreOptions">
                    <div class="mt-n3">
                        <div class="form-check border-bottom py-4 m-0">
                            <input type="radio" class="form-check-input" id="store-1" name="pickup-store" checked="">
                            <div>
                                <div class="d-flex w-100 pb-2 mb-1">
                                    <label for="store-1" class="form-check-label text-dark-emphasis fw-semibold me-3">Sacramento Supercenter</label>
                                    <button type="button" class="btn-close fs-sm ms-auto" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove"></button>
                                </div>
                                <div class="fs-xs mb-2">8270 Delta Shores Cir S, Sacramento, CA 95832</div>
                                <div class="fs-xs">Open: <span class="text-dark-emphasis fw-medium">07:00 - 22:00</span></div>
                            </div>
                        </div>
                        <div class="form-check border-bottom py-4 m-0">
                            <input type="radio" class="form-check-input" id="store-2" name="pickup-store">
                            <div>
                                <div class="d-flex w-100 pb-2 mb-1">
                                    <label for="store-2" class="form-check-label text-dark-emphasis fw-semibold me-3">West Sacramento Supercenter</label>
                                    <button type="button" class="btn-close fs-sm ms-auto" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove"></button>
                                </div>
                                <div class="fs-xs mb-2">755 Riverpoint Ct, West Sacramento, CA 95605</div>
                                <div class="fs-xs">Open: <span class="text-dark-emphasis fw-medium">07:00 - 21:00</span></div>
                            </div>
                        </div>
                        <div class="form-check border-bottom py-4 m-0">
                            <input type="radio" class="form-check-input" id="store-3" name="pickup-store">
                            <div>
                                <div class="d-flex w-100 pb-2 mb-1">
                                    <label for="store-3" class="form-check-label text-dark-emphasis fw-semibold me-3">Rancho Cordova Supercenter</label>
                                    <button type="button" class="btn-close fs-sm ms-auto" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" data-bs-title="Remove" aria-label="Remove"></button>
                                </div>
                                <div class="fs-xs mb-2">10655 Folsom Blvd, Rancho Cordova, CA 95670</div>
                                <div class="fs-xs">Open: <span class="text-dark-emphasis fw-medium">08:00 - 23:00</span></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add new pickup store collapse -->
                <div class="collapse pickup-options" id="pickupStoreAdd">
                    <div class="nav mb-4">
                        <a class="nav-link animate-underline p-0" href=".pickup-options" data-bs-toggle="collapse" aria-expanded="true" aria-controls="pickupStoreOptions pickupStoreAdd">
                            <i class="ci-chevron-left fs-lg ms-n1 me-1"></i>
                            <span class="animate-target">Back to my stores</span>
                        </a>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3 mb-lg-4">
                        <h5 class="h6 mb-0 me-3">Select a suitable store</h5>
                        <a class="btn btn-sm btn-outline-primary rounded-pill" href="#!">
                            <i class="ci-map-pin fs-base ms-n1 me-1"></i>
                            Find on map
                        </a>
                    </div>
                    <div class="mb-3 mb-lg-4">
                        <label class="form-label">State *</label>
                        <select class="form-select form-select-lg rounded-pill" data-select="{
                &quot;classNames&quot;: {
                  &quot;containerInner&quot;: &quot;form-select form-select-lg rounded-pill&quot;
                }
              }" aria-label="Large pill select">
                            <option value="">Select state</option>
                            <option value="Arizona">Arizona</option>
                            <option value="California" selected="">California</option>
                            <option value="Montana">Montana</option>
                            <option value="Nevada">Nevada</option>
                            <option value="New Mexico">New Mexico</option>
                            <option value="Texas">Texas</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">City *</label>
                        <select class="form-select form-select-lg rounded-pill" data-select="{
                &quot;classNames&quot;: {
                  &quot;containerInner&quot;: &quot;form-select form-select-lg rounded-pill&quot;
                }
              }" aria-label="Large pill select">
                            <option value="">Select city</option>
                            <option value="Austin">Austin</option>
                            <option value="Helena">Helena</option>
                            <option value="Sacramento" selected="">Sacramento</option>
                            <option value="Santa Fe">Santa Fe</option>
                            <option value="Las Vegas">Las Vegas</option>
                            <option value="Phoenix">Phoenix</option>
                        </select>
                    </div>
                    <div class="fs-xs fw-medium text-uppercase text-body-secondary">Found stores:</div>
                    <div class="form-check border-bottom py-4 m-0">
                        <input type="radio" class="form-check-input" id="store-4" name="found-store">
                        <div>
                            <label for="store-4" class="form-check-label text-dark-emphasis fw-semibold pb-2 mb-1">Sacramento Supercenter</label>
                            <div class="fs-xs mb-2">8270 Delta Shores Cir S, Sacramento, CA 95832</div>
                            <div class="fs-xs">Open: <span class="text-dark-emphasis fw-medium">07:00 - 22:00</span></div>
                        </div>
                    </div>
                    <div class="form-check border-bottom py-4 m-0">
                        <input type="radio" class="form-check-input" id="store-5" name="found-store">
                        <div>
                            <label for="store-5" class="form-check-label text-dark-emphasis fw-semibold pb-2 mb-1">West Sacramento Supercenter</label>
                            <div class="fs-xs mb-2">755 Riverpoint Ct, West Sacramento, CA 95605</div>
                            <div class="fs-xs">Open: <span class="text-dark-emphasis fw-medium">07:00 - 21:00</span></div>
                        </div>
                    </div>
                    <div class="form-check border-bottom py-4 m-0">
                        <input type="radio" class="form-check-input" id="store-6" name="found-store">
                        <div>
                            <label for="store-6" class="form-check-label text-dark-emphasis fw-semibold pb-2 mb-1">Rancho Cordova Supercenter</label>
                            <div class="fs-xs mb-2">10655 Folsom Blvd, Rancho Cordova, CA 95670</div>
                            <div class="fs-xs">Open: <span class="text-dark-emphasis fw-medium">08:00 - 23:00</span></div>
                        </div>
                    </div>
                </div>

                <!-- Add address collapse toggle -->
                <div class="nav">
                    <a class="nav-link hiding-collapse-toggle animate-underline collapsed px-0 mt-4" href=".pickup-options" data-bs-toggle="collapse" aria-expanded="false" aria-controls="pickupStoreOptions pickupStoreAdd">
                        <span class="animate-target">Add store address</span>
                        <i class="ci-plus fs-base ms-1"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="offcanvas-header">
            <button type="button" class="btn btn-lg btn-primary w-100 rounded-pill">Confirm address</button>
        </div>
    </div>


    <!-- Site menu offcanvas -->
    <!-- Navigation bar (Page header) -->
    @await Component.InvokeAsync("Menu")


    <!-- Categories -->
    @await Component.InvokeAsync("ProductCategory")


    <!-- Page content -->
    <main class="content-wrapper">

        <!-- Hero slider -->
        @await Component.InvokeAsync("Slide")


        <!-- Categories + Popular products -->
        <section class="container pb-5 mb-2 mb-sm-3 mb-lg-4 mb-xl-5 mt-5">
            <div class="row">

                <!-- Categories list -->
                @await Component.InvokeAsync("ProductCategoryWithProductCount")

                <div class="col-lg-9">
                    <div class="d-flex align-items-center justify-content-between border-bottom pb-3 pb-md-4 mb-3 mb-lg-4">
                        <h2 class="h3 mb-0">Popular products</h2>
                        <div class="nav ms-3">
                            <a class="nav-link animate-underline px-0 py-2" href="shop-catalog-grocery.html">
                                <span class="animate-target">View all</span>
                                <i class="ci-chevron-right fs-base ms-1"></i>
                            </a>
                        </div>
                    </div>

                    <!-- Products grid -->
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-3 row-cols-xl-4 g-4">

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/01.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$2.15</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Muesli Fitness Energy, gluten free</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">500g</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <span class="badge text-bg-danger position-absolute top-0 start-0 z-2 mt-1 mt-sm-2 ms-1 ms-sm-2">-30%</span>
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/02.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$3.12 <del class="fs-sm fw-normal text-body-tertiary ms-1">$4.05</del></div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Fresh orange Klementina, Spain</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">1kg</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/03.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$0.80</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Pepsi soda classic, can</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">330ml</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/04.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$2.99</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Mozzarella mini cheese Granaloro</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">250g</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/05.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$1.24</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Coconut, Indonesia</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">1 coconut</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/06.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$3.95</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Pesto sauce Barilla with parmesan and basil</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">200g</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/07.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$1.99</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Fresh mango, Spain</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">1 mango</div>
                            </div>
                        </div>

                        <!-- Item -->
                        <div class="col">
                            <div class="card product-card h-100 bg-transparent border-0 shadow-none">
                                <div class="position-relative z-2">
                                    <button type="button" class="btn btn-icon btn-sm btn-secondary animate-pulse fs-sm bg-body border-0 position-absolute top-0 end-0 z-2 mt-1 mt-sm-2 me-1 me-sm-2" aria-label="Add to Wishlist">
                                        <i class="ci-heart animate-target"></i>
                                    </button>
                                    <a class="d-block p-2 p-lg-3" href="shop-product-grocery.html">
                                        <div class="ratio" style="--cz-aspect-ratio: calc(160 / 191 * 100%)">
                                            <img src="~/Theme/assets/img/shop/grocery/08.png" alt="Image">
                                        </div>
                                    </a>
                                    <div class="position-absolute w-100 start-0 bottom-0">
                                        <div class="d-flex justify-content-end px-2 px-lg-3 pb-2 pb-lg-3">
                                            <div class="count-input count-input-collapsible collapsed justify-content-between w-100 bg-transparent border-0 rounded-2">
                                                <button type="button" class="btn btn-icon btn-sm btn-primary" data-decrement="" aria-label="Decrement quantity">
                                                    <i class="ci-minus fs-sm"></i>
                                                </button>
                                                <input type="number" class="form-control form-control-sm bg-primary text-white w-100" value="0" min="0" readonly="">
                                                <button type="button" class="product-card-button btn btn-icon btn-sm btn-secondary ms-auto" data-increment="" aria-label="Increment quantity">
                                                    <span data-count-input-value=""></span>
                                                    <i class="ci-plus fs-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-0 px-1 px-md-2 px-lg-3 pb-2">
                                    <div class="h6 mb-2">$2.40</div>
                                    <h3 class="fs-sm lh-base mb-0">
                                        <a class="hover-effect-underline fw-normal" href="shop-product-grocery.html">Fresh green asparagus, bunch</a>
                                    </h3>
                                </div>
                                <div class="fs-xs text-body-secondary px-1 px-md-2 px-lg-3 pb-2 pb-md-3">300g</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        @RenderBody()

    </main>


    <!-- Page footer -->
    @await Component.InvokeAsync("Footer")

    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
        <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
            Top
            <i class="ci-arrow-right fs-base ms-1 me-n1 animate-target"></i>
            <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
            <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></rect>
            </svg>
        </a>
    </div>


    <!-- Vendor scripts -->
    <script src="~/Theme/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Theme/assets/vendor/simplebar/simplebar.min.js"></script>
    <script src="~/Theme/assets/vendor/choices.js/choices.min.js"></script>

    <!-- Bootstrap + Theme scripts -->
    <script src="~/Theme/assets/js/theme.min.js"></script>


</body>
</html>