@using _01_Query.Contract.Article;
@model List<ArticleQueryModel>

@if (Model.Count != 0)
{
    <section class="container pb-5 mb-2 mb-sm-3 mb-lg-4">
        <div class="d-flex align-items-center justify-content-between border-bottom pb-3 pb-md-4 mb-3 mb-lg-4">
            <h2 class="h3 mb-0">آخرین مقالات</h2>
            <div class="nav ms-3">
                <a class="nav-link animate-underline px-0 py-2" href="shop-catalog-grocery.html">
                    <span class="animate-target text-nowrap">مشاهده همه</span>
                    <i class="ci-chevron-right fs-base ms-1"></i>
                </a>
            </div>
        </div>
        <div class="row">
            @foreach (var article in Model)
            {
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="d-flex flex-column gap-1 gap-md-2">

                        <div class="position-relative d-flex align-items-start align-items-sm-center mb-4">
                            <div class="ratio" style="--cz-aspect-ratio: calc(140 / 196 * 100%); max-width: 196px">
                                <img src="~/ProductPictures/@article.Picture" class="rounded" alt="@article.PictureAlt" title="@article.Title">
                            </div>
                            <div class="ps-3 ps-xl-4">
                                <h3 class="fs-base fw-medium lh-base mb-2 mb-xl-3">
                                    <a class="hover-effect-underline stretched-link" href="#!">@article.Title</a>
                                </h3>
                                <div class="d-flex gap-3 gap-xl-4 fs-sm text-body-secondary">
                                    <div class="d-flex align-items-center text-nowrap">
                                        <i class="ci-clock fs-base me-2"></i>
                                        @article.PublishDate
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
